body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/floor-tile.png");
	color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
}

h1.logo
{
	font-size:  44px;
	font-weight: 700;
	color: #4a4a4a;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 10px;
}

h2.logo
{
	font-size:  34px;
	font-weight: 700;
	color: #4a4a4a;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

#cytat
{
	color: #4a4a4a;
	text-align: center;
	font-size:  16px;
	padding-bottom: 10px; 
	padding : 20px;
}

#startMainWindow
{
	margin: 0 auto;
	width: 1000px;
	height: 250px;
	padding : 50px;
}

#smallWindow
{
	padding : 20px;
	background-image: url("img/07.jpg");
	width:500px;
	height: 210px;
	margin: 10px;
	float:left;

}
#smallWindow1
{
	width: 350px;
	height: 210px;
	margin-top: 10px;
	float:left;
	font-size: 20px;
	color: #4a4a4a;
	text-align: center;
	background-color: #f9f9f9;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(74,74,74,0.6);
	-moz-box-shadow: 10px 10px 5px 0px rgba(74,74,74,0.6);
	box-shadow: 10px 10px 5px 0px rgba(74,74,74,0.6);
	padding : 20px;
}
#buttonWindow
{
	width: 900px;
	margin: 0 auto;
}
 input[type=submit]
 {
	 width: 290px;
	 background-color: #f9f9f9;
	 font-size: 20 px;
	 padding: 20px 20px; 
	 margin:20px;
	 border: none;
	 border-radius: 5px;
	 cursor: pointer;
	 letter-spacing: 2px;
	 -webkit-box-shadow: 10px 10px 5px 0px rgba(74,74,74,0.6);
	-moz-box-shadow: 10px 10px 5px 0px rgba(74,74,74,0.6);
	box-shadow: 10px 10px 5px 0px rgba(74,74,74,0.6);
 }
 
 input[type=submit]:hover
  {
	color: #fff;
	background-color:  #4a4a4a;
	font-weight:900;
  }
.start
{
	 float:left;
}

.dodajPrzychodDodajAnulujPrzycisk
{
	 width: 50px;
}
#registrationWindow
{
		margin: 0 auto;
		width: 380px;
}

.rejestracja
{
	font-size:  20px;
	border-radius: 5px;
	display: inline-block;
	
}
.ikona
{
	width: 30px;
	display:inline-block;
	background-color: #e0e0e0;
	border-right:1px solid #4a4a4a;
	padding:5px;
}
.wyplenienieRejestracja
{
	border:1px solid #4a4a4a;
    display:inline-block;
	 background-color: #f9f9f9;
	position:relative;
	
}

.zalogowany:hover
{
	width: 300px;
	background-color:  #f9f9f9;
	font-weight: 700;
	height: 40px;
	border-bottom: 3px solid  #4a4a4a;
}

.zalogowany
{
	width: 300px;
	background-color:  #f9f9f9;
	font-weight: 700;
	height: 40px;
	border-bottom: 3px solid  #4a4a4a;
}

input[type=email],
input[type=password],
input[type=date],
input[type=text]
 {
	 background-color :transparent;
     border: 0;
	 outline: none;
	 background-color: #f9f9f9;
	width: 300px;
	font-size:  20px;
	border:0;
	color: #4a4a4a;
 }
 
 #rodzajPrzychodu
 {
	  background-color :transparent;
     border: 0;
	 outline: none;
	 background-color: #f9f9f9;
	width: 300px;
	font-size:  20px;
	border:0;
	color: #4a4a4a;
		padding:5px;
	width: 350px;
 }
 

 
nav
{
	width: 100%;
	background-color: #f9f9f9;
	text-align: center;
	border-top: 1px solid  #4a4a4a;
	border-bottom: 1px solid  #4a4a4a;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}
ol a
{
	color: #4a4a4a;
	text-decoration: none;
	display: block;
}
ol  > li
{
	float: left;
	width: 200px;
	height: 40px;
	text-align: center;
}
ol  > li:hover
{
	background-color: #e0e0e0;
	font-weight: 700;
	border-bottom: 3px solid  #4a4a4a;
}

ol  > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}
ol  > li:hover > ul
{
	display: block;
	height: 40px;
}

ol  > li > ul > li 
{
	background-color : #f9f9f9;
	position: relative;
	z-index: 1;
	font-weight: 400;
	min-width: 100px;
	height: 40px;
	text-decoration: none;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

ol  > li > ul > li:hover
{
	background-color:  #f9f9f9;
}
ol  > li > ul > li:hover > a
{
	color: #4a4a4a;
	font-weight: 700;
	background-color:#e0e0e0;
	height: 40px;
}

#dodajPrzychod
{
	background-color: #e0e0e0;
	font-weight: 700;
	height: 40px;

	border-bottom: 3px solid  #4a4a4a;
}

.dropdown {
  float: left;
  overflow: hidden;
  width: 350px;
  
}
.kategoria
{
	 font-size: 20px;
	float: left;
	text-align: left;
	 min-width: 310px;
	 margin-left: 5px;
	padding-top:5px;
}

.icon-sort-down
{
	text-align: right;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #4a4a4a;
  height: 40px;
  background-color : #e0e0e0;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 310px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  font-size:16px;
  color: black;
  padding: 2px  10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#container
{
	width: 1400px;
	text-align: center;
	margin: 0 auto;
}

#leftside
{
	float:left;
	margin-right:150px;
}
#rightside
{
	float:left;
	margin-left:150px;
}

#logoBilans
{
	color: #4a4a4a;
	text-align: left;
	padding:10px;
	font-size: 20px;
	font-weight: 700;
	width: 490px;
	border-bottom:3px solid  #4a4a4a;
	z-index: 1;
}
#leftsideBottomSmall
{
	width: 1200px;
	margin: 0 auto;
	display: block;
}

#leftsideBottomSmallExpense
{
	width: 1370px;
	margin: 0 auto;
	display: block;
}

#logoBilansSzczegółowy
{
	color: #4a4a4a;
	text-align: left;
	padding:5px;
	font-size: 20px;
	font-weight: 700;
	width:900px;
	z-index: 1;
}

#logoBilansSzczegółowyExpense
{
	color: #4a4a4a;
	text-align: left;
	padding:5px;
	font-size: 20px;
	font-weight: 700;
	width:1300px;
	z-index: 1;
	
}

#menuBilansSzczegółowy
{
	color: #4a4a4a;
	text-align: left;
	padding:5px;
	font-size: 16px;
	font-weight: 700;
	width: 960px;
	border-bottom:3px solid  #4a4a4a;
	z-index: 1;
}
#menuBilansSzczegółowyExpense
{
	color: #4a4a4a;
	text-align: left;
	padding:5px;
	font-size: 16px;
	font-weight: 700;
	width: 1200px;
	border-bottom:3px solid  #4a4a4a;
	z-index: 1;
}
#lpSzczegółowy
{
	float:left;
	width: 40px;
	text-align: left;
}

#dataSzczegółowy
{
	float:left;
	text-align: left;
	width: 200px;
}

#kategoriaSzczegółowy
{
	float:left;
	text-align: left;
	width: 200px;
}

#kwotaSzczegółowyExpense
{
	float:left;
	text-align: left;
	width: 200px;
}

#kategoriaSzczegółowyExpense
{
	float:left;
	text-align: left;
	width: 200px
}

#komanetarzSzczegółowyExpense
{
	float:left;
	text-align: left;
	width: 200px
}
#spsobPlatnosciSzczegołowyExpense
{
	float:left;
	text-align: left;
	width: 200px;
}

#spsobPlatnosciSzczegołowy
{
	float:left;
	text-align: left;
	width: 200px;
}

#komanetarzSzczegółowy
{
	float:left;
	text-align: left;
	width: 200px;
}

#sumaBilans
{
	color: #4a4a4a;
	text-align: left;
	padding:10px;
	font-size: 18px;
	font-weight: 700;
	width: 350px;
	border-top:3px solid  #4a4a4a;
	z-index: 1;
	float:left;
}
#sumaBilansSzczegółowy
{
	color: #4a4a4a;
	text-align: left;
	padding:10px;
	font-size: 18px;
	font-weight: 700;
	width: 400px;
	border-top:3px solid  #4a4a4a;
	z-index: 1;
	float:left;
}
#bilansPrzychodKasaSuma
{
	text-align: center;
	font-size: 18px;
	float:left;
	padding-right:20px;
	padding-top:10px;
	font-weight: 700;
	width: 120px;
	border-top:3px solid  #4a4a4a;
}

#bilansPrzychodKasaSumaSzczegółowy
{
	text-align: right;
	font-size: 18px;
	float:left;
	padding-right:20px;
	padding-top:10px;
	font-weight: 700;
	width: 460px;
	border-top:3px solid  #4a4a4a;
}

.bilansPrzychodPodsumowanieSzczegółowy
{
	width:900px;
}

.bilansPrzychodPierwszaLinia
{
	background-color: #f9f9f9;
	width: 510px;
	float:left;
}
.bilansPrzychodPierwszaLiniaSzczegółowy
{
	background-color: #f9f9f9;
	width: 970px;
}

.bilansPrzychodPierwszaLiniaSzczegółowyExpense
{
	background-color: #f9f9f9;
	width: 1210px;
}
.bilansPrzychodPodsumowanie
{
	width: 520px;
}
.bilansPrzychodLp
{
	font-size: 16px;
	text-align: center;
	width: 40px;
	float:left;
}


.bilansPrzychodKategoria
{
	float:left;
	font-size: 16px;
	text-align: right;
	padding-left:10px;
}
.bilansPrzychodKasa
{
	font-size: 16px;
	text-align: right;
	padding-right:10px
}

.bilansPrzychodDrugaLinia
{
	background-color: #e0e0e0;
	width: 510px;
	display: block;
}

.bilansPrzychodDrugaLiniaSzczegółowy
{
	background-color: #e0e0e0;
	width: 970px;
	display: block;
}

.bilansPrzychodDrugaLiniaSzczegółowyExpense
{
	background-color:#e0e0e0;
	width: 1210px;
}

.edycja
{
	width: 40px;
	font-size: 16px;
	float: left;
	text-align: center;
}
.edycja:hover
{
    font-size: 20px;
	background-color: #e0e0e0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#containerBottom
{
	display: block;
	width: 1300px;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
}

.bilansPrzychodDataSzczegółowy,
.bilansPrzychodKasaSzczegółowy,
.spsobPlatnosciExpense,
.kategoriaExpense,
.bilansPrzychodKomentarzSzczegółowy,
.bilansPrzychodKategoriaSzczegółowy
{
	float: left;
	font-size: 16px;
	text-align: left;
	width: 200px;
}

#leftsideBottomExpense
{
	margin-top:10px;
	width: 1400px;
}